<div id="page-content">
    <h1 class="text-center mt-4">Saved Setup Sheets</h1>
    <p class="text-center mt-4"> <%= link_to 'Create new setup', new_setup_path %> </p>

    <div class="container">
        <% @setups.each do |setup| %>
            <div class="row justify-content-md-center row-cols-md-2">
                <div class="col-8 mt-2">
                    <div class="card text-center shadow bg-white rounded">
                        <div class="card-header">
                            <%= link_to setup.car, setup_path(setup), class: "text-success" %>
                        </div>
                            <div class="card-body">
                                <h3 class="card-text text-center"><%= setup.driver %></h3>
                                <h3 class="card-text text-center"><%= setup.track %></h3>
                                <p text-center>Created <%= time_ago_in_words(setup.created_at) %> ago, 
                                        edited <%= time_ago_in_words(setup.updated_at) %> ago</p>
                                <%= link_to "View", setup_path(setup), class: "btn btn-outline-success btn-sm" %>
                                <%= link_to "Edit", edit_setup_path(setup), class: "btn btn-outline-info btn-sm" %>
                                <%= link_to "Delete", setup_path(setup), class: "btn btn-outline-danger btn-sm", 
                                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                            </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>