<h1 class="text-center mt-4">Details Of Selected Setup Sheet</h1>
<div class="container" id="home-container">
    <%= form_with(model: @setup, local: true) do |f| %>
    <div class="row mt-2 mb-3">
    <div class="col">      
        <div class="mb-1"> Setup created by <%= @setup.user.username if @setup.user %>
        <%= link_to gravatar_for(@setup.user), user_path(@setup.user) %>
        </div>
        <%= f.label :car, class: "form-label-sm" %>
        <%= f.select :car, ["Mayako MX8", "Mayako MX8e", "Associtaed RC8B4", 
            "Associtaed RC8B4", "Kyosho MP10 TKI2", "Kyosho MP10 TKI2e", "Mugen 8R"], 
            class:"form-control-sm shadow rounded", placeholder: "Car" %>
        <%= f.label :driver, class: "form-label-sm" %>
        <%= f.text_field :driver, class: "form-control-sm shadow rounded", placeholder: "driver" %>
        <%= f.label :track, class: "form-label-sm" %>
        <%= f.text_field :track, class: "form-control-sm shadow rounded", placeholder: "track" %>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center"><u>Shock and Diff details</u></h3>
        <div class="col-sm-4">
        <%= f.label :"Front shock oil", class: "form-label-sm" %>   
        <%= f.text_field :frshk, class: "form-control-sm shadow rounded", placeholder: "Front shock oil" %> 
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear shock oil", class: "form-label-sm" %>
        <%= f.text_field :reshk, class: "form-control-sm shadow rounded", placeholder: "Rear shock oil" %>
        </div>
        <div class="col-sm-4">
        <%= f.label :"Front diff oil", class: "form-label-sm " %>
        <%= f.text_field :frdiff, class: "form-control-sm shadow rounded", placeholder: "Front diff oil" %>
        </div>                       
    </div>
    <div class="row">
        <div class="col-sm-4">
        <%= f.label :"Front piston", class: "form-label-sm" %>   
        <%= f.text_field :frpst, class: "form-control-sm shadow rounded", placeholder: "Front shock piston" %> 
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear Piston", class: "form-label-sm" %>
        <%= f.text_field :repst, class: "form-control-sm shadow rounded", placeholder: "Rear shock piston" %>
        </div>
        <div class="col-sm-4">
        <%= f.label :"Center diff oil", class: "form-label-sm " %>
        <%= f.text_field :ctrdiff, class: "form-control-sm shadow rounded", placeholder: "Center diff oil" %>
        </div>                       
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
        <%= f.label :"Front spring", class: "form-label-sm" %>   
        <%= f.text_field :frspr, class: "form-control-sm shadow rounded", placeholder: "Front spring" %> 
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear spring", class: "form-label-sm" %>
        <%= f.text_field :respr, class: "form-control-sm shadow rounded", placeholder: "Rear spring" %>
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear diff oil", class: "form-label-sm " %>
        <%= f.text_field :rediff, class: "form-control-sm shadow rounded", placeholder: "Rear diff oil" %>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center mt-4"><u>Shock and Diff details</u></h3>
        <div class="col-sm-4">
        <%= f.label :"Front shock oil", class: "form-label-sm" %>   
        <%= f.text_field :frshk, class: "form-control-sm shadow rounded", placeholder: "Front shock oil" %> 
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear shock oil", class: "form-label-sm" %>
        <%= f.text_field :reshk, class: "form-control-sm shadow rounded", placeholder: "Rear shock oil" %>
        </div>
        <div class="col-sm-4">
        <%= f.label :"Front diff oil", class: "form-label-sm " %>
        <%= f.text_field :frdiff, class: "form-control-sm shadow rounded", placeholder: "Front diff oil" %>
        </div>                       
    </div>
    <div class="row">
        <div class="col-sm-4">
        <%= f.label :"Front piston", class: "form-label-sm" %>   
        <%= f.text_field :frpst, class: "form-control-sm shadow rounded", placeholder: "Front shock piston" %> 
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear Piston", class: "form-label-sm" %>
        <%= f.text_field :repst, class: "form-control-sm shadow rounded", placeholder: "Rear shock piston" %>
        </div>
        <div class="col-sm-4">
        <%= f.label :"Center diff oil", class: "form-label-sm " %>
        <%= f.text_field :ctrdiff, class: "form-control-sm shadow rounded", placeholder: "Center diff oil" %>
        </div>                       
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
        <%= f.label :"Front spring", class: "form-label-sm" %>   
        <%= f.text_field :frspr, class: "form-control-sm shadow rounded", placeholder: "Front spring" %> 
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear spring", class: "form-label-sm" %>
        <%= f.text_field :respr, class: "form-control-sm shadow rounded", placeholder: "Rear spring" %>
        </div>
        <div class="col-sm-4">
        <%= f.label :"Rear diff oil", class: "form-label-sm " %>
        <%= f.text_field :rediff, class: "form-control-sm shadow rounded", placeholder: "Rear diff oil" %>
        </div>
    </div>
<div class="row bg-light">
    <%= link_to 'Edit', edit_setup_path(@setup), class: "col-4 btn btn-outline-secondary btn-sm" %>
    <%= link_to 'Delete', setup_path(@setup), class: "col-4 btn btn-outline-secondary btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to 'Return to setup listing', setups_path, class: "col-4 btn btn-outline-secondary btn-sm" %>
</div>      
</div>  

<% end %>